<a href="/{{post_name}}">
	<div class="item highlight-post-free">
		
		<img src="{{thumbnail}}" title="{{post_title}}" />
		
		<div class="bg-fade">
			<h4>{{post_title}}</h4>
			
			<div class='sub-title'>{{subtitle}}</div>
			
			<div class='excerpt'>{{{post_excerpt}}}</div>
		</div>

	</div>
</a>

