footer.content-info {
  background-color: $black;
  color: $white;
  text-transform: uppercase;
  clear: both;
  a, a:visited {
    color: $light-gray;
    &:hover {
      color: $white;
    }
  }
  .footer-wrap {
    background-color: $text-color;
    padding: 3em 0 1em;
    h4 {
      font-weight: 700;
    }
    .row {
      padding-bottom: 2.5em;
    }
  }
}