footer.content-info {
  background-color: $black;
  color: $white;
  text-transform: uppercase;
  clear: both;
  a, a:visited {
    color: $light-gray;
    &:hover {
      color: $white;
    }
  }
  p {
    text-transform: none;
  }
  .footer-wrap {
    background-color: $text-color;
    padding: 3em 0 1em;
    h4 {
      font-weight: 700;
    }
    .row {
      padding-bottom: 2.5em;
    }
    .row-links {
      .col-sm-4:nth-child(3n+1) {
        clear: none !important;
      }
    }
  }
}

.footer-wrap {
  ul {
    li {
      line-height: 16px;
      padding: 0 0 1em 0;
      .fa {
        width: 1.6em;
        display: block;
        float: right;
      }
    }
  }
}