.sponsored-content-wrapper {
  margin-bottom: 2.5em;
  .sponsored-content {
    border: 1px solid $bordercolor;
    padding: 1em;
  }
}

.home-category-feeds {
  margin-bottom: .5em;
  h3.archive-title {
    margin: 0 0 (20 / 24) * 1em 0;
  }
  h3.entry-title {
    @media screen and (min-width: 1200px) and (max-width: 1499px) {
      font-size: (20 / 16) * 1em;
    }
  }
}

.bottom-widgets {

}