
.first-post-advert-wrapper {
  height: 100%;
  width: 100%;
  @media screen and (min-width: 768px) {
    display:table;
  }
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  margin-bottom: 2em;
  .table-row {
    height: 100%;
    @media screen and (min-width: 768px) {
      display: table-row;
    }
    .news-item-wrapper {
      float: none !important;
      @media screen and (min-width: 768px) {
        display: table-cell;
      }
      vertical-align: top;
    }
    .news-item-wrapper:nth-child(2) {
    }
  }
  .quote-format {
    background-color: $black;
    .post-image {
      max-height: 465px;
    }
  }
  .large-post {
    padding: 0 !important;
    @media screen and (min-width: 768px) {
      width: 66% !important;
    }
    @include backgroundcovertopcenter;
    .placeholder {
      display: none;
    }
    @include newsitemheader;
    header {
      z-index: 10;
    }
    .link-image {
      z-index: 5;
      display: block;
      @include position(absolute, $top: 0, $left: 0, $bottom: 0, $right: 0);
      @include transition200ms;
      @media screen and (max-width: 767px) {
        position: relative !important;
      }
      &:hover {
        background: rgba(0,0,0,0.6);
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .advert-premium {
    @media screen and (max-width: 767px) {
      padding: 15px;
      border: 1px solid #e5e5e5;
      text-align: center;
      .news-item {
        background-color: $white;
      }
      img {
        max-width: 100%;
        width: auto !important;
        margin: 0 auto;
      }
    }
    @media screen and (min-width: 768px) {
      padding: 0 0 0 30px !important;
      width: 34% !important;
    }
    .post-image, .news-item {
      margin-bottom: 0;
    }
  }
}

.empty-wrapper {
  // @media screen and (min-width: 768px) and (max-width: 991px) {
  //   .news-item-wrapper:nth-child(5) {
  //     display: none;
  //   }
  // }
  .video-post {
    div {
      position: relative;
      iframe, object, embed {
        @include position(absolute, $top: 0, $left: 0);
        z-index: 50;
        width: 100%;
        height: 100%;
      }
    }
  }
  .news-item-wrapper:nth-child(4) {
    float: right !important;
  }
}

.sponsored-content-wrapper {
  margin-bottom: 2.5em;
  .sponsored-content {
    border: 1px solid $bordercolor;
    padding: 1em;
  }
}

// home 4-up category feeds

.home-category-feeds {
  margin-bottom: .5em;
  .news-item {
    header {
      padding: 1.5em;
    }
  }
  h3.archive-title {
    margin: 0 0 (20 / 24) * 1em 0;
  }
  h3.entry-title {
    @media screen and (min-width: 1200px) and (max-width: 1499px) {
      font-size: (20 / 16) * 1em;
    }
  }
  .damn-plus-badge {
    width: 75px;
  }
  br {
    display: none;
  }
}

// home 4 up product feed // see posts.scss and search for "Productivity alternate" to see the css for the product feed, as this uses the same css
// as the feed for the product archive page, only on homepage, we have 100% height so boxes line up and columns widths on home are set in index.php, not
// by css/js like on the product page (aka, homepage is NOT masonry grid).

.product-feed-home {
  @media screen and (min-width: 768px) {
    .table-display {
      display: table;
      height: 100%;
    }
    .table-display:after {
      clear: both;
    }
    .table-cell {
      .news-item {
        height: 100%;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .table-cell {
      display: table-cell;
      height: 47%;
      margin-bottom: 3%;
      .news-item {
        header p.product-creators {
          margin-bottom: 1.5em
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .table-cell {
      display: table-cell;
      height: 100%;
      .news-item {
        header {
          padding-bottom: 0.5em;
        }
      }
    }
  }
}

// agenda, instagram, join DAMN +

.bottom-widgets {

}

// advertising border per Koen

.news-item-wrapper.advert.advert-premium .news-item .post-image   {
  background-color: black !important;
  position: relative;
  padding: 12px;
}

.news-item-wrapper.advert.advert-premium .news-item .post-image img {
  width: auto;
  height: auto;
}

.sponsored-content-wrapper .advert.middle   {
  background-color: black !important;
  position: relative;
  padding: 12px;
}

.sponsored-content-wrapper .advert.middle img {
  width: auto;
  height: auto;
}