.sponsored-content-wrapper {
  margin-bottom: 2.5em;
  .sponsored-content {
    border: 1px solid $bordercolor;
    padding: 1em;
  }
}

.home-category-feeds {
  margin-bottom: .5em;
  h3.archive-title {
    margin: 0 0 (20 / 24) * 1em 0;
  }
}

.bottom-widgets {

}