.sidebar {
  margin: 0 0 2.5em 0;
  // border-top: 1px solid $bordercolor;
  @media (min-width: $screen-sm-min) {
    width: 320px;
    float: right;
    border-left: 1px solid $bordercolor;
    border-right: 1px solid $bordercolor;
    padding: 0;
    margin: -2.5em 0 2.5em 0;
  }
  @media (min-width: $screen-md-min) {
    width: 360px;
  }
  .sidebar-padding {
    padding: 1.5em;
  }
}

.sidebar, .widget {
  ul, ol {
    list-style: none;
    padding-left: 0;
    li {
      padding: 1em;
      border-bottom: 1px solid $bordercolor;
      @include transitions;
      &:hover {
        background-color: $grayhovercolor;
      }
    }
    li:first-child {
      border-top: 1px solid $bordercolor;
    }
  }
  ol {
    li {
      padding: 1em 1em 1em 1.5em;
      @media screen and (max-width: 767px) {
        padding: .75em .5em .75em 1em;
      }
    }
  }
}

h3.widget-title, h3.widget-title-black {
  // see below for padding for sidebar specific widgets, as they have padding on all sides, others, only top/bottom
  margin: 0;
}
h3.widget-title-black {
  @include blackbackwhitetext;
}

.widget {
  h3.widget-title, h3.widget-title-black, h3 {
    padding: (16 / 16) * 1em 0;
  }
}

.sidebar {
  .widget {
    border-bottom: 1px solid $bordercolor;
    h3.widget-title, h3.widget-title-black, h3 {
      padding: (16 / 16) * 1em;
      border-bottom: 1px solid $bordercolor;
    }
  }
}

// DAMN PLUS related
.damn-plus-login-form {
  margin: 0;
  h3 {
    margin: 0;
    padding: (16 / 16) * 1em !important;
    border-bottom: 1px solid $bordercolor;
  }
}

.damn-plus-login-form.color-box {
  padding: 2em .25em;
}

.ws-plugin--s2member-pro-login-widget {
  padding: 1.5em;
  .form-control {
    margin-bottom: 1em;
  }
  .ws-plugin--s2member-pro-login-widget-remember-me {
    input {
      margin-right: 6px;
    }
  }
  .btn-primary {
    font-size: 1.25em;
    margin-top: .75em;
  }
}

.ws-plugin--s2member-pro-login-widget-profile-summary {
  .avatar {
    width: 20%;
    float: left;
    margin: 0 10px 10px 0;
    max-width: 128px;
    @include border-radius(128px);
  }
}


// latest articles & calendar // latest calendar specific items below

.latest-articles-list, .latest-calendar-list {
  margin-bottom: 0;
  li {
    counter-increment: step-counter;
    &:before {
      content: counter(step-counter);
      font-size: 3em;
      font-weight: 700;
      padding: 0;
      float: left;
      @include inlinemiddle;
      width: 14%;
    }
    .list-thumb {
      width: 21%;
      @include inlinemiddle;
      img {
        width: 85%;
        @include border-radius(50%);
      }
    }
    .list-meta {
      width: 61%;
      @include inlinemiddle;
      line-height: 1.25em;
      @include blacktomediumgraylink;
      span {
        font-size: .95em;
        @include lightgraytomediumgraylink;
      }
    }
  }
}

// productivity page - sidebar
.sidebar {
  .product-info {
    border: 0;
    border-bottom: 1px solid $bordercolor;
    padding: 1.5em 1.5em 2em 1.5em;
    background-color: $lightestgray;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      border-left: 0;
      border-right: 0;
    }
    .company-logo {
      padding-bottom: 1em;
    }
    .product-creators {
      padding: 0 0 1.3em 0;
      margin-bottom: 1.3em;
      border-bottom: 1px solid $bordercolor;
    }
  }
}




